.* {}*{box-sizing:border-box;}
.accGalleryCont {position:relative;padding-bottom:35px;}
.accGalleryCont:before {content:"";display:block;position:absolute;bottom:0;height:200px;right:-80px;background:#eeeeee;width:40%;}
.accInfoItem {font-size:17px;line-height:normal;font-weight:400;padding-right:20px;display:inline-block;width:30%;}
.accInfoL {float:left;width:70%;}
.accInfoR {float:left;width:30%;padding-top:30px;}
.accInfoSize {}
.accInternalDescription {font-size:15px;line-height:normal;font-weight:400;}
.accInternalDescription:before {content:"";display:inline-block;width:10px;height:12px;background:#676767;margin-right:10px;}
.accIntTitle {font-family:PT Sans Narrow, sans-serif;font-size:40px;line-height:normal;font-weight:700;color:#676767;letter-spacing:0.1em;}
.accSize {font-size:14px;line-height:normal;font-weight:400;color:#676767;padding-left:30px;background-position:0 100%;display:inline-block;margin:0 0 0 auto;text-align:right;background-image:url(/di_s370_j9/elements/styles/673_R7014.png);background-repeat:no-repeat;}
.accSubtitle {font-family:PT Sans Narrow, sans-serif;font-size:18px;line-height:normal;font-weight:400;color:#676767;}
.accTextMargin {margin-left:30px;}
.accTitle {font-family:PT Sans Narrow, sans-serif;font-size:24px;line-height:normal;font-weight:700;color:#000000;}
.accTitlesCont {position:relative;padding:20px 20px 40px 20px;}
.accTitlesCont:before {content:"";position:absolute;top:0;bottom:0;left:0;width:100px;background:#eeeeee;z-index:-1;}
.addresstext {display:block;}
.addresstext a {color:#676767;}
.addresstext a:hover {color:#000000;}
.addresstitle {font-size:14px;line-height:normal;font-weight:normal;font-style:normal;color:#000;}
.botaddresstext {font-size:12px;line-height:normal;font-weight:normal;font-style:normal;color:#000;}
.botaddressTitle {font-size:13px;line-height:normal;font-weight:normal;font-style:normal;color:#000;}
.bx-loading {display:none;}
.capacity {height:27px;display:inline-block;background-size:contain;background-repeat:no-repeat !important;vertical-align:middle;}
.capacity1 {width:10px;background-image:url(/di_s370_j9/elements/styles/529_R5817.png);background-repeat:repeat;}
.capacity2 {width:27px;background-image:url(/di_s370_j9/elements/styles/528_R6839.png);background-repeat:repeat;}
.capacity2_1 {width:51px;background-image:url(/di_s370_j9/elements/styles/524_R1722.png);background-repeat:repeat;}
.capacity2_2 {width:64px;background-image:url(/di_s370_j9/elements/styles/527_R5984.png);background-repeat:repeat;}
.capacity3 {width:45px;background-image:url(/di_s370_j9/elements/styles/530_R1067.png);background-repeat:repeat;}
.capacity4 {width:63px;background-image:url(/di_s370_j9/elements/styles/531_R8176.png);background-repeat:repeat;}
.cartDelete {font-family:Tahoma,Verdana,Segoe,sans-serif;font-size:12px;line-height:normal;font-weight:bold;font-style:italic;color:#FFFFFF;background-color:#ff7d00;border:1px solid #bfb446; cursor: pointer;}
.cartDiscount {font-size:14px;line-height:normal;font-weight:normal;font-style:normal;color:#FF0000;}
.cartOldPrice {font-size:12px;line-height:normal;font-weight:normal;font-style:normal;color:#813E3E;text-decoration:line-through;}
.cartPrice {font-size:13px;line-height:normal;font-weight:400;color:#000;}
.cartSubmit {font-size:11px;line-height:normal;font-weight:normal;font-style:normal;color:#fff;width:129px; height:30px; border:0px; cursor: pointer;background-image:url(/di_s370_j9/elements/styles/27.png);background-repeat:no-repeat;}
.cartText {font-size:11px;line-height:normal;font-weight:normal;font-style:normal;color:#DA2424;}
.cartTitles {font-size:11px;line-height:normal;font-weight:normal;font-style:Normal;color:#fff;background-color:#484848;border-right:1px solid #fff;  padding:3px;}
.center {text-align:center;text-align:center;}
.customPager a.active {background:#676767 !important;}
.downloadTitle {font-family:PT Sans Narrow, sans-serif;font-size:21px;line-height:normal;font-weight:400;color:#676767;}
.expGridL {float:left;width:55%;}
.expGridR {float:left;width:45%;padding-top: 16%;padding-left:5%;text-align:right;}
.expImagesCont {position:relative;padding-bottom:30px;}
.expImagesCont:after {content:"";position:absolute;right:0;bottom:0;width:60%;height:200px;background:#eeeeee;z-index: -1;}
.expImgL {float:left;width:63%;}
.expImgR {float:left;width:37%;padding:30px 8% 0 1%;}
.expTitlePos {z-index: 1;position:absolute;top:30px;right:0;z-index: 1;}
.facilities {font-family:PT Sans Narrow, sans-serif;font-size:26px;line-height:normal;font-weight:700;color:#000000;padding:50px 15%;border:1px solid;position:relative;margin-top: 80px;}
.facilities:before {content:"Facilities & Services";position:absolute;width:108px;height:127px;background:#eeeeee;white-space:nowrap;top:-90px;left:30px;display:block;padding: 20px;box-sizing: border-box;}
.facilities li {font-family:PT Sans, sans-serif;font-size:15px;line-height:normal;font-weight:400;color:#000000;list-style-type:none;padding:5px 0;position:relative;}
.facilities li:before {content:"-";position:absolute;display:inline-block;top:4px;left:-20px;}
.facilities ul {-webkit-columns: 270px;
-moz-columns: 270px;
columns: 270px;
-webkit-column-gap: 2em;
-moz-column-gap: 2em;
column-gap: 2em;
list-style-type: none;}
.flex1 {flex:1;}
.flex2 {flex:2;}
.flex3 {flex:3;}
.flex4 {flex:4;}
.flexBox {display: -webkit-flex;
display: flex;
 -webkit-flex-direction: row;
 flex-direction: row;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
-webkit-align-items: stretch;
 align-items: stretch;
-webkit-justify-content: center;
justify-content: center;
width:100%; margin:auto;}
.floorPlanIcon {width:50px;height:32px;display: inline-block;vertical-align:middle;background-image:url(/di_s370_j9/elements/styles/595_R8971.png);background-repeat:no-repeat;}
.followUs {padding-top:10%;text-align:right;}
.footerBanner {max-width:120px;}
.footerInfoText {font-size:12px;line-height:normal;font-weight:400;color:#676767;display:block;}
.footerTitle {font-size:20px;line-height:normal;font-weight:normal;font-style:normal;color:#000000;}
.formerror {font-size:12px;line-height:normal;font-weight:normal;font-style:normal;color:#9d2d2d;padding:3px; }
.formfields {border: 1px solid #333333;
padding: 4px 6px;
width: 100%;}
.formrequired {display: table;margin: auto;}
.formRow {display: block;
margin-bottom: 15px;}
.formsearch {font-size:10px;line-height:normal;font-weight:normal;font-style:Normal;color:#000000;background-color: #d6f3c8; border: 1px solid #000000;}
.formsubmit {font-size:16px;line-height:normal;font-weight:400;color:#ffffff;background-color:#000000;border:none;
cursor: pointer;
margin-top: 10px;
padding: 10px 30px;
display: table;
margin: auto;}
.formtext {width: 100%;display: block;}
.formtitle {font-size:14px;line-height:normal;font-weight:bold;font-style:Normal;color:#000;padding-bottom:7px; padding-top:12px;}
.grid10 {float:left;width:10%;letter-spacing:0px;}
.grid10to100 {float:left;width:10%;letter-spacing:0px;}
.grid20 {float:left; width:20%; margin:0;}
.grid20to100 {float:left;width:20%;letter-spacing:0px;}
.grid25 {float:left; width:25%; margin:0;}
.grid25to100 {float:left;width:25%;letter-spacing:0px;}
.grid30 {float:left; width:30%; margin:0;}
.grid30to100 {float:left;width:30%;letter-spacing:0px;}
.grid33 {float:left; width:33.33%; margin:0px;}
.grid33to100 {float:left;width:33.33%;letter-spacing:0px;}
.grid35to100 {float:left; width:35%; margin:0;}
.grid40 {float:left; width:40%; margin:0px;}
.grid40to100 {float:left;width:40%;letter-spacing:0px;}
.grid50 {float:left; width:50%; margin:0;}
.grid50to100 {float:left;width:50%;letter-spacing:0px;}
.grid60 {float:left; width:60%; margin:0;}
.grid60to100 {float:left;width:60%;letter-spacing:0px;}
.grid70 {float:left; width:70%; margin:0;}
.grid70to100 {float:left;width:70%;letter-spacing:0px;}
.grid80 {float:left; width:80%; margin:0;}
.grid80to100 {float:left;width:80%;letter-spacing:0px;}
.grid90 {float:left;width:90%;letter-spacing:0px;}
.grid90to100 {float:left;width:90%;letter-spacing:0px;}
.gridAcc {width:33.33%;padding:15px 15px 40px;display: inline-block;float: left;}
.gridAccL {float:left;width:45%;padding-right:6%;padding-top:40px;}
.gridAccR {float:left;width:55%;}
.gridActivities {float:left;width:33.33%;padding:1%;}
.gridBlog {float:left;width:33.33%;padding:10px;}
.gridBlogLeftRight {float:left;width:47%;}
.gridBook {float:left; width:40%; margin:0;text-align:right;}
.gridContact {float:left;width:30%;letter-spacing:0px;}
.gridExplore {float:left;width:33.33%;padding:15px;}
.gridFooter1 {float:left;width:15%;padding-top:15px;}
.gridFooter2 {float:left;width:15%;}
.gridFooter3 {float:left;width:40%;}
.gridFooter4 {float:left;width:30%;}
.gridFormField {float: left;width: 60%;margin: 0;display: table;}
.gridFormFieldItem {width: 95%;margin: auto;}
.gridFormLabel {float: left;width: 40%;margin: 0;display: table;}
.gridFormLabelItem {width: 95%;margin: auto;}
.gridGal4 {float: left;
width: 70%;
margin: 0;}
.gridGal5 {float: left;
width: 30%;
margin: 0;}
.gridGallery {float:left;width:20%;padding: 4px;}
.gridGalleryInsta {float:left;width:50%;}
.gridGalleryInsta .imageArea {padding-bottom: 100%;}
.gridGalleryLarge {float: left;
width: 66.66%;
margin: 0;}
.gridGallerySmall {float: left;
width: 33.33%;
margin: 0;}
.gridItem90 {width:90%;margin:0 auto;}
.gridItem96 {width:96%; margin:auto;}
.gridItem98 {width:98%; margin:auto;letter-spacing:0px;}
.gridLangs {display:inline-block;vertical-align:middle;}
.gridLogo {float:left; width:20%; margin:0;}
.gridMenu {float:left; width:40%; margin:0;padding: 0 20px;letter-spacing:0px;text-align:right;}
.gridOffers {float:left; width:33.33%;letter-spacing:0px;}
.gridWelcomeL {float:left;width:45%;padding-right: 7%;}
.gridWelcomeR {float:left;width:55%;padding-top:50px;}
h1 {margin:0px;font-size:24px;line-height: normal;font-weight:300;font-style:normal;color:#000000;letter-spacing:0.2em;}
h2 {margin:0px;font-size:22px;line-height: normal;font-weight:400;color:#1d1d1b;letter-spacing:0px;}
h3 {margin:0px;font-size:16px;line-height: normal;font-weight:400;color:#000000;line-height:normal;letter-spacing:0px;}
.headerArrows {}
.headerArrows:hover a.header-next {opacity:1;}
.headerArrows:hover a.header-prev {opacity:1;}
.headerTitle {padding-bottom:30px;}
.headerTitle h1 {font-size:30px;line-height:normal;font-weight:normal;font-style:normal;color:#000000;text-align:center;}
.homeDescription {padding-top:40px;text-align:right;}
.homeGridImgL {float:left;width:24.4%;}
.homeGridImgR {float:left;width:75.6%;padding-left:1%;}
.homeGridTitlesL {float:left;width:50%;}
.homeGridTitlesR {float:left;width:50%;}
.homeInstaGridL {float:left;width:25%;}
.homeInstaGridR {float:left;width:75%;position:relative;}
.homeSubtitle {font-family:PT Sans Narrow, sans-serif;font-size:60px;line-height:normal;font-weight:700;color:#676767;letter-spacing:0.1em;}
.homeTitle {font-family:PT Sans Narrow, sans-serif;font-size:30px;line-height:normal;font-weight:700;color:#000000;letter-spacing:0.1em;}
.homeTitlesCont {position:relative;padding:20px 20px 40px 20px;}
.homeTitlesCont:before {content:"";position:absolute;top:0;bottom:0;left:0;width:140px;background:#eeeeee;z-index:-1;}
.homeTitlesContR {position:relative;padding:20px 20px 40px 20px;text-align:right;text-align:right;}
.homeTitlesContR:before {content:"";position:absolute;top:0;bottom:0;right:0;width:140px;background:#eeeeee;z-index:-1;}
.homeTitleSmaller {font-family:PT Sans Narrow, sans-serif;font-size:40px;line-height:normal;font-weight:700;color:#000000;}
.hotelPrice-book {background-color:#ffffff;width: 92%;margin:auto;padding:10px 0px;}
.hotelPrice-buttonWrapper {font-size:15px;line-height:normal;font-weight:600;font-style:normal;color:#ffffff;background-color:#50b3f1;text-align:center;width:50px;border-radius: 50%;padding:25px 20px;display:table;position: fixed;cursor: pointer;bottom:65px;right: -150px;z-index: 999;-moz-box-shadow: 0 3px 10px 0 #3d3d3d;-webkit-box-shadow: 0 3px 10px 0 #3d3d3d;box-shadow: 0 3px 10px 0 #3d3d3d;}
.hotelPrice-content {background-color:#ffffff;}
.hotelPrice-top {background-color:#50b3f1;padding:5px 0px;}
.hotelPrice-wrapper {background-color:#ffffff;width:230px !important;max-width: 230px !important;position: fixed;overflow: hidden;bottom:0;right: -300px;z-index: 999;-moz-box-shadow: 0 3px 10px 0 #3d3d3d;-webkit-box-shadow: 0 3px 10px 0 #3d3d3d;box-shadow: 0 3px 10px 0 #3d3d3d;}
.hpBorder {border-bottom: 1px solid #c5c5c5;padding-bottom:5px;margin:5px 0px;}
.hPClose {font-size:15px;line-height:normal;font-weight:bold;font-style:normal;color:#ffffff;padding:5px 10px;float:right;cursor:pointer;}
.hpExtPrice {font-size:14px;line-height:normal;font-weight:600;font-style:normal;color:#222221;float:right;padding:0px 10px;}
.hPExtTitle {font-size:15px;line-height:normal;font-weight:400;font-style:normal;color:#222221;float:left;cursor:default;padding:0px 10px;}
.hPTopSubTitle {font-size:10px;line-height:10px;font-weight:400;font-style:normal;color:#ffffff;padding:0px 10px 5px 10px;cursor:default;}
.hPTopTitle {font-size:15px;line-height:normal;font-weight:400;font-style:normal;color:#ffffff;padding:5px 10px 0px 10px;cursor:default;}
.hpTripadvisor-wrapper {background-color:#ececec;width: initial !important;padding: 5px 0px;margin: 5px 0px;height: 45px;overflow: hidden;}
.hPTripadvisorTitle {font-size:15px;line-height:normal;font-weight:400;font-style:normal;color:#222221;float:left;cursor:default;padding:7px 10px 0px 10px;}
.hpWebsitePrice {font-size:18px;line-height:normal;font-weight:bold;font-style:normal;color:#5cbc63;padding:5px 10px;float: right;}
.hPWebsiteTitle {font-size:20px;line-height:normal;font-weight:400;font-style:normal;color:#222221;padding:5px 8px;float:left;cursor:default;}
.image1_365 {}
.image1_370 {}
.image1_376 {}
.image1_377 {}
.image1_378 {}
.image1_384 {}
.image1_385 {}
.image1_386 {}
.image1_388 {}
.image2_365 {}
.image2_370 {}
.image2_374 {}
.image2_376 {}
.image2_378 {}
.image2_379 {}
.image3_370 {}
.imageArea {position:relative;padding-bottom:80%;}
.imageAreaGal3 {position: relative;
padding-bottom: 72.7%;
background-position: 50%;}
.imageAreaGal5 {position: relative;
padding-bottom: 145.5%;
background-position: 50%;}
.imageAreaHor {position: relative;padding-bottom: 46.8%;
background-position: 50%;}
.imageAreaVert {position: relative;
padding-bottom: 93.5%;
background-position: 50%;}
.image_rat1_47 {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.img, img {width:100%;}
.instagramDesc {background-position:0 50%;padding-left:90px;line-height:60px;letter-spacing:1px;background-image:url(/di_s370_j9/elements/styles/565_R3840.png);background-repeat:no-repeat;}
.instagramTitle {position:absolute;right:0;bottom:0;height:200px;background:#eeeeee;width: 30%;
z-index: -1;
padding-top: 120px;
text-align: right;
padding-right: 4%;}
.justify {text-align:justify;}
.langWrapper {padding-top:3px;}
.lazyload {opacity:0;}
.lazyloaded {opacity: 1;transition: opacity 500ms;}
.lazyloading {opacity:0;}
.locationGridL {float:left;width:17%;padding-right:0.5%;}
.locationGridR {float:left;width:83%;}
.logoPaddMenu {padding:20px;margin-bottom:80px;}
.mainBlogTitle {font-family:PT Sans Narrow, sans-serif;font-size:32px;line-height:normal;font-weight:700;color:#000000;margin-bottom:20px;}
.marginLR {margin:0 80px;position:relative;}
.marquee {font-size:15px;line-height:normal;font-weight:normal;font-style:normal;color:#000000;margin: 0 auto;
overflow: hidden;
white-space: nowrap;
box-sizing: border-box;
display: block;
animation: marquee 20s linear infinite;}
.menuCont {background-color:#ffffff;padding:10px;}
.menuIcon {display:block;  width:34px; height:34px; background-image:url(/di_s370_j9/elements/styles/185.png);background-repeat:repeat;}
.menuIconHide {display:block;  width:34px; height:34px; background-image:url(/di_s370_j9/elements/styles/186.png);background-repeat:repeat;}
.menu_icon {position:relative;}
.menu_icon:after {content:"menu";font-size:12px;position:absolute;top:47%;left:40px;transform:translate(0,-50%);color:#000000;}
.minHeight {min-height:60vh;}
.newsletError {font-size:11px;line-height:normal;font-weight:normal;font-style:normal;color:#cc0000;}
.newsletField {font-size:12px;line-height:normal;font-weight:normal;font-style:normal;color:#000;border:1px solid #4c4c4c; height:23px; line-height:23px; padding:0px 5px;}
.newsletSubmit {font-size:12px;line-height:normal;font-weight:normal;font-style:normal;color:#fff;background-color:#333333;border:1px solid #4c4c4c; cursor: pointer; height:25px; line-height:25px; padding:0px 10px;}
.newsletTitle {font-size:12px;line-height:normal;font-weight:normal;font-style:normal;color:#000;margin-bottom:7px;}
.OfferTitle {font-size:30px;line-height:normal;font-weight:300;font-style:normal;color:#363636;margin-bottom:20px;}
.photoshover {position:absolute;background-color:rgba(0,0,0, .6);background-size:100px;
top:0;left:0;right:0;bottom:0;
z-index: 10;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-position:50%;background-image:url(/di_s370_j9/elements/styles/143.png);background-repeat:no-repeat;}
.photoshover:hover {opacity:1;}
.popupOfferBack {width: 100px;
height: 100px;
background: #eb2120;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;}
.popupOfferText {font-size:42px;line-height:normal;font-weight:700;font-style:normal;color:#fff;padding-top:21px;}
.popupSubTitle {font-size:27px;line-height:normal;font-weight:700;font-style:normal;color:#2c2c2c;}
.popupText {font-size:18px;line-height:normal;font-weight:normal;font-style:normal;color:#3A3A3A;text-align:center; line-height:28px;}
.popupTitle {font-size:34px;line-height:normal;font-weight:700;font-style:normal;color:#2E2E2E;text-align:center;}
.recListMargin {margin-bottom:40px;}
.relative {position:relative;}
.restGridL {float:left;width:45%;padding-top: 16%;padding-right:5%;}
.restGridR {float:left;width:55%;}
.restImagesCont {position:relative;padding-bottom:30px;}
.restImagesCont:after {content:"";position:absolute;left:0;bottom:0;width:60%;height:200px;background:#eeeeee;z-index: -1;}
.restImgL {float:left;width:37%;padding:30px 1% 0 8%;}
.restImgR {float:left;width:63%;}
.restTitlesPos {z-index: 1;position:absolute;top:30px;left:0;z-index: 1;}
.reviewCont {width:70%;padding:40px 10% 50px 0;position: relative;}
.reviewCont:before {content:"";position:absolute;top:0;right:0;bottom:0;left:-20%;background:#eeeeee;z-index:-1;}
.reviewText {font-size:13px;line-height:normal;font-weight:400;}
.reviewTitle {font-size:15px;line-height:normal;font-weight:700;color:#000000;}
.sampleText {font-size:17px;line-height:normal;font-weight:400;color:#676767;padding:8px;width:100%;text-align:center;}
.showLessButton {padding-top:30px;}
.sink {}
.sitemap {font-size:11px;line-height:normal;font-weight:normal;font-style:normal;color:#000;}
.skew {}
.socialCont {background-color:#eeeeee;padding: 30px 50px;
width: 130%;
padding-right: 30%;}
.sticky {position:fixed;top:0;left:0;right:0;z-index:65;box-shadow: 0 0 5px rgba(0,0,0,.2);letter-spacing:0px;}
.sticky .topmenu {}
.sticky2 {width: 20%;
  height: 40px;
  top:44px;
right:2%;
  display: block;
  position: fixed;}
.subcategoriesCont {font-family:PT Sans Narrow, sans-serif;font-size:26px;line-height:normal;font-weight:700;color:#000000;position:relative;margin-top: 80px;}
.subcategoriesCont:before {content:"ALL SUITES";position:absolute;width:108px;height:127px;background:#eeeeee;white-space:nowrap;top: -60px;z-index: 9;left:30px;display:block;padding: 20px;box-sizing: border-box;}
.subCatsFlex {display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
 -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-align-content: center;
   align-content: center;}
.tableAuto {display:table;margin:auto;}
.temp1ImgL {float:left;width:75%;}
.temp1ImgR1 {}
.temp1ImgR2 {padding-top:1.5%;}
.temp1ImgRCont {float:left;width:25%;padding-left:0.5%;}
.temp1ImgRCont:first-child {padding-right: .5%;padding-left:0;}
.temp2Col2 {float:left;width:17.5%;padding:0 .5%;}
.temp2Img1 {float:left;width:16.55%;}
.temp2Img2 {}
.temp2Img3 {padding-top:3%;}
.temp2Img4 {float:left;width:65.8%;}
.textEditor1_365 {}
.textEditor1_366 {}
.textEditor1_370 {}
.textEditor1_47 {}
.textEditor2_370 {}
.textEditor_365 {}
.textEditor_366 {}
.textEditor_370 {}
.textEditor_376 {}
.textLtoC {letter-spacing:0px;text-align:left;}
.textR {text-align:right;}
.textRtoC {text-align:right;}
.top10 {padding-top:10px;}
.top100 {padding-top:100px;}
.top15 {padding-top:15px;}
.top20 {padding-top:20px;}
.top25 {padding-top:25px;}
.top30 {padding-top:30px;}
.top40 {padding-top:40px;}
.top5 {padding-top:5px;letter-spacing:0px;}
.top50 {padding-top:50px;}
.topmenu {}
.topNoHeader {padding-top:50px;}
.welcomeImgL {float:left;width:60%;}
.welcomeImgR {float:left;width:40%;padding-left: 10px;padding-top: 20px;}
.widthLarge {max-width:1280px; margin:auto; padding:0 10px;}
.widthLarger {max-width:1600px;padding:0 20px;margin:0 auto;}
.widthSmall {max-width:980px; width:100%; margin:auto;}
.wow fadeIn {}
.wow fadeInLeft {}
.wow fadeInRight {}
.wow fadeInUp {}
.wow zoomIn {}
@media (max-width: 1600px) {.expTitlePos {top:-30px;}
.grid35to100 {float:left; width:100%; margin:0;}
.gridAcc {}
.gridExplore {}
.homeDescription {padding-top: 20px;}
.marginLR {margin: 0 50px;}
.restTitlesPos {top: -30px;}
.top100 {padding-top:70px;}
.widthLarger {margin: 0 50px;}
}
@media (max-width: 1366px) {.accIntTitle {font-size:34px;}
.accSubtitle {font-size:16px;}
.capacity {height:24px;}
.expGridR {padding-top:18%;}
.expTitlePos {top:10px;}
.gridAccL {width:50%;padding-top: 0px;}
.gridAccR {width:50%;}
.gridFooter1 {padding-right: 20px;
padding-top: 8px;}
.homeSubtitle {font-size:46px;}
.homeTitle {font-size:26px;}
.homeTitleSmaller {font-size:30px;}
.image1_370 {}
.image1_371 {}
.image1_372 {}
.instagramDesc {background-size: contain;line-height: 40px;}
.instagramTitle {padding-top: 75px;height: 150px;bottom: 10px;}
.mainBlogTitle {font-size:26px;}
.restGridL {padding-top: 18%;}
.restTitlesPos {top: 10px;}
}
@media (max-width: 1280px) {.accSize {}
.accTitle {}
.image1_370 {}
.image1_371 {}
.textRtoC {}
}
@media (max-width: 1024px) {}
@media (max-width: 768px) {.accSize {}
.gridAcc {width:50%;}
.gridAccL {width: 100%;padding-right:0;
float: none;}
.gridAccR {width: 70%;
float: none;
margin: 50px auto;}
.gridExplore {width:50%;}
.gridFooter1 {width:50%;}
.gridFooter2 {width:50%;}
.gridFooter3 {width:50%;}
.gridFooter4 {width:50%;}
.homeSubtitle {font-size:36px;}
.homeTitle {font-size:20px;}
.homeTitlesCont {}
.homeTitlesCont:before {width: 100px;}
.homeTitleSmaller {font-size:26px;}
.image1_370 {}
.image1_371 {}
.image_rat1_47 {}
.reviewCont {width:100%;}
.socialCont {width: 100%;padding-right: 10%;}
.widthLarge {padding:0 20px;}
.widthLarger {margin: 0 30px;}
}
@media (max-width: 680px) {.accGalleryCont {}
.accGalleryCont:before {width: 70%;right: -20px;}
.accInfoItem {width: 49%;margin: 10px 0;}
.accIntTitle {font-size:24px;}
.accSubtitle {font-size:14px;}
.accTextMargin {margin-left:0;}
.accTitle {font-size:20px;}
.customPager {padding-bottom:30px;}
.customPager .bx-wrapper{padding-bottom:20px;}
.expGridL {width:100%;padding-top:20px;float:none;}
.expGridR {width:100%;padding-top:20px;float:none;}
.expTitlePos {position:static;width:100%;}
.grid10to100 {width:100%;letter-spacing:0px;}
.grid20to100 {width:100%;letter-spacing:0px;}
.grid25to100 {width:100%;letter-spacing:0px;}
.grid30to100 {width:100%;letter-spacing:0px;}
.grid33to100 {width:100%;letter-spacing:0px;}
.grid40to100 {width:100%;letter-spacing:0px;}
.grid50to100 {width:100%;letter-spacing:0px;}
.grid60to100 {width:100%;letter-spacing:0px;}
.grid70to100 {width:100%;letter-spacing:0px;}
.grid80to100 {width:100%;letter-spacing:0px;}
.grid90to100 {width:100%;letter-spacing:0px;}
.gridAcc {min-width:initial;width:100%;}
.gridAccR {width:100%;}
.gridActivities {width: 100%;}
.gridBlog {width:100%;}
.gridContact {display:none;letter-spacing:0px;}
.gridExplore {width:100%;}
.gridFormField {float: left;width: 100%;margin: 0;display: table;}
.gridFormLabel {float: left;width: 100%;margin: 0;display: table;}
.gridGal4 {width:100%;}
.gridGal5 {display:none;}
.gridGallery {width:50%;}
.gridGalleryInsta {width: 100%;}
.gridGalleryInsta .imageArea {padding-bottom: 100%;}
.gridGalleryLarge {width:100%;}
.gridGallerySmall {width:50%;}
.gridWelcomeL {width:100%;}
.gridWelcomeR {width:100%;}
.homeGridTitlesL {width:100%;float:none;}
.homeGridTitlesR {width:100%;float:none;margin-top:10px;}
.homeInstaGridL {width:100%;}
.homeInstaGridR {width:100%;padding-top:20px;}
.homeSubtitle {font-size:32px;}
.homeTitle {font-size: 20px;}
.instagramDesc {line-height:20px;}
.instagramTitle {display:none;}
.locationGridL {display:none;}
.locationGridR {width:100%;}
.logoPaddMenu {margin-bottom: 0px;}
.marginLR {margin:0 20px;}
.menuCont {padding:5px 10px;}
.menu_ul {background-color:#000000;}
.photoshover {background-size: 50%;}
.popupOfferBack {background-color:#3c3c3c;}
.popupText {font-size:22px;line-height:normal;font-weight:normal;font-style:normal;color:#fff;text-align:center;}
.popupTitle {font-size:26px;line-height:30px;font-weight:700;font-style:normal;color:#f0b536;text-align:center;}
.restGridL {width:100%;padding-top:20px;}
.restGridR {width:100%;padding-top:20px;}
.restImagesCont {}
.restImagesCont:after {height:150px;}
.restTitlesPos {position:static;width:100%;}
.temp2Col2 {width: 51%;padding: 0 0 10px 10px;}
.temp2Img1 {width: 49%;
padding-bottom: 10px;}
.temp2Img3 {padding-top: 10px;}
.temp2Img4 {width:100%;}
.textLtoC {text-align:center;letter-spacing:0px;}
.textRtoC {text-align:center;}
.topNoHeader {padding-top:0;}
.widthLarger {margin:0;}
}
